.job-title-icon {
	display: inline-block;
	width: 35px;
	height: 35px;
	border: 2px solid black;
	border-radius: 4px;
	background-color: #870000;
	color: white;
	text-align: center;
}

#job-title {
	color: white;
	text-align: center;
}



.profile-block{
	 color: #333;
	h3 {
	   	margin-top: 0px;
	}
}

.user-profile.well{
	 background-color: #85f8e5;
     border-color: #4cae4c;
}

.user-avatar {
	height: 128px;
	width: 128px;
    border: 1px solid white;
    border-radius: 100px;
    box-shadow: -1px 9px 8px 0px rgba(255,255,255,1);
    margin-top: 15px;
    margin-bottom: 15px;

}

.white-left {
	color: white;
	text-align: left;	
    font-style: italic;
}

#profile-detail-style {
		color: #222;

}

#job-title-detail-style h4{
	margin-top: 20px;
	color: #000;

}

.background-white {
	background-color: #f9f9f9;
}

.background-grey {
	background-color: #b7b7b7;
}

.grey-text {
	color: #222;
}


