.job-title-icon {
	display: inline-block;
	width: 35px;
	height: 35px;
	border: 2px solid black;
	border-radius: 4px;
	background-color: #337ab7;
	color: white;
	text-align: center;
}

.user-profile{
	 color: #333;
	 background-color: #85f8e5;
     border-color: #4cae4c;
}

.user-avatar {
	border: 2px solid black;
	border-radius: 4px;
	 background-color: black;

}

#job-title {
	color: white;
	text-align: center;
}

.white-left {
	color: white;
	text-align: left;	
}